@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.joke {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  width:  380px;
  height: 480px;
  background-color: #c5f6f57d;
  font-size: 18px;
  border-radius: 30Px;
}

.violet,
.pink {
  width: 104px;
  height: 38px;
  margin-top: 32px;
  margin-left: 16px;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
  font-family: 'Oswald', sans-serif;
}

.violet {
  background-color: #ebafe8c7;
  color: #ffffff;
}

.pink{
  background-color: #e43dc5b3;
  color: #ffffff;
}